
<table class = "table table-dark table-stripped" style="width: 70%;">
    <thead style="text-align: center;">
        <tr>
            <th style="text-align: center;" scope="col">Time</th>
            <th style="text-align: center;" scope="col">PH</th>
            <th style="text-align: center;" scope="col">DO</th>
            <th style="text-align: center;" scope="col">Temp</th>
        </tr>
    </thead>
    <tbody id="table_body">
            <tr>
                <td id="timeCollect", style="text-align:center;">{{ date }}</td>
                <td id="valuePH", style="text-align:center;">{{ PH }}</td>
                <td id="valueDO", style="text-align:center;">{{ DO }}</td>
                <td id="valueTemp", style="text-align:center;">{{ Temp }}</td>
            </tr>
        
    </tbody>
</table>

<br>

<script>
    function startLiveUpdate()
    {
        const valuePH = document.getElementById('valuePH')
        const valueDO = document.getElementById('valueDO')
        const valueTemp = document.getElementById('valueTemp')
        const timeCollect = document.getElementById('timeCollect')

        setInterval(function()
        {
            fetch('/data_json').then(function(response)
            {
                return response.json()
            }).then(function(data)
            {
                valuePH.textContent =  data.pH;
                valueDO.textContent = data.DO;
                valueTemp.textContent = data.Tmp;
                timeCollect.textContent = data.date;

            }).catch(function(error)
            {
                console.log(error);
            })
        },1000);
    }
    document.addEventListener('ContentLoader', function()
    {
        startLiveUpdate();
    });
</script>

