{% extends 'base.html' %}

{% block head %}
<title>Sensor Value</title>

{% endblock %}

{% block body %}
<style>
    table{
        font-family: 'Times New Roman', Times, serif;
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    }
</style>
<div class="result">
    <p></p>
    <img src="static/image/vgu_vector.webp" alt="VGU" style="margin: 20px" height="20%" width="20%">
    <h2>Sensor Result Table</h2>
    <p></p>
        {% include 'includes/display.html' %}
        <h2>Details Value</h2>
    <p></p>
        {% include 'includes/graph.html' %}
</div> 
{% endblock %}