
<br>
<style type="text/css">
  .label{
    text-align: center;
    margin: 20px;
  }
  .chartCard{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130vw;
    height: 30vh;
  }
  .chartBox{
    width: 40%;
    padding: 20px;
  }
  h2{
    text-align: center;
    font-size: 45px;
  }
  h3{
    text-align: center;
    font-size: 40px;
    margin-top: 10em,
  }
</style>

<!--Link to Firebase-->
<body>

<p style="padding-bottom:5px;"></p>
  <div class="chartCard" style="position: relative;" id="sensor-stats">
    <div class="chartBox">
      <canvas id="myPHChart" style="background-color: #000000"></canvas>
    </div>
    <div class="chartBox">
      <canvas id="myDOChart" style="background-color: #000000;"></canvas>
    </div>
    <div class="chartBox">
      <canvas id="myTempChart" style="background-color: #000000;"></canvas>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script type="text/javascript">
      const DO_data = [];
      const PH_data = [];
      const T_data = [];
      const graph_date = [];
      date = '';

      //Django
      {% for x in date %}
      graph_date.push('{{ x }}')
      {% endfor %}

      {% if date|length > 4 %}
        date = graph_date[0].toString() + graph_date[1].toString() + "-" + graph_date[3].toString() + graph_date[4].toString();
      {% else %}
        date = graph_date[0].toString() + "-" + graph_date[2].toString() + graph_date[3].toString();
      {% endif %}

      {% for x in DO_axis %}
        DO_data.push('{{ x }}')
      {% endfor %}

      {% for x in PH_axis %}
        PH_data.push('{{ x }}')
      {% endfor %}

      {% for x in Temp_axis %}
        T_data.push('{{ x }}')
      {% endfor %}



  </script>
  <script>
    let x_axis = []
    for(let i = 0; i<24; i++)
    {
      x_axis.push(i.toString() + ":00");
    }
    const ctx_DO = document.getElementById('myDOChart').getContext('2d');
    const ctx_PH = document.getElementById('myPHChart').getContext('2d');
    const ctx_T = document.getElementById('myTempChart').getContext('2d');

    Chart.defaults.font.size = 16;
    const myDOChart = new Chart(ctx_DO, {
      type: 'line',
      data: {
          labels: x_axis,
          datasets: [{
              label: 'DO Value',
              data: DO_data,
              borderColor: 'blue',
              backgroundColor: 'blue',
              borderWidth: 3,
          }]
      },
      options: {
        animation:
        {
          duration: 0
        },
        elements:{
          line:{
            tension:0
          }
        },
          scales: {
              y: {
                  beginAtZero: true,
                  title:{
                    display: true,
                    text: 'Value',
                    color: 'white'
                  },
                  ticks:{
                    color: 'white'
                  },
                  grid:{
                    color: 'white',
                    borderDash: [1, 2]
                  },
              },
              x:{
                title:{
                  display:true,
                  text: date,
                  color: 'white'
                },
                ticks:{
                  color: 'white'
                },
               grid:{
                  color: 'white',
                  borderDash: [1, 2],
                },
              },
          }
      }
  });

  const myPHChart = new Chart(ctx_PH, {
      type: 'line',
      data: {
          labels: x_axis,
          datasets: [{
              label: 'PH Value',
              data: PH_data,
              backgroundColor: 'yellow',
              borderColor: 'yellow',
              borderWidth: 3
          }]
      },
      options: {
        animation:
        {
          duration: 0
        },
        elements:{
          line:{
            tension:0
          }
        },
          scales: {
              y: {
                  beginAtZero: true,
                  title:{
                    display:true,
                    text: 'Value',
                    color: 'white',
                  },
                  ticks:{
                    color: 'white'
                  },
                  grid:{
                    color: 'white',
                    borderDash: [1, 2]
                  },
              },
              x:{
              title:{
                display:true,
                text: date,
                color: 'white'
              },
               ticks:{
                    color: 'white'
                  },
                  grid:{
                    color: 'white',
                    borderDash: [1, 2]
                  },
              },
          }
      }
  });

  const myTempChart = new Chart(ctx_T, {
      type: 'line',
      data: {
          labels: x_axis,
          datasets: [{
              label: 'Temperature Value',
              data: T_data,
              backgroundColor: 'red',
              borderColor: 'red',
              borderWidth: 3
          }]
      },
      options: {
        animation:
        {
          duration: 0
        },
        elements:{
          line:{
            tension:0
          }
        },
          scales: {
              y: {
                  beginAtZero: true,
                  title:{
                    display:true,
                    text: 'Value',
                    color: 'white'
                  },
                  ticks:{
                    color: 'white'
                  },
                  grid:{
                    color: 'white',
                    borderDash: [1, 2]
                  },
              },
              x:{
              title:{
              display:true,
              text: date,
              color: 'white'
              },
              ticks:{
                  color: 'white'
                },
                grid:{
                  color: 'white',
                  borderDash: [1, 2]
                },
              },
          }
      }
  });
  </script>
</body>