{% extends 'base.html' %}

{% block head %}
<title>PH data</title>

{% endblock %}

{% block body %}

<style>
    table{
        font-family: 'Times New Roman', Times, serif;
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    }
</style>

<div class="result">
    <p></p>
    <img src="static/image/vgu.jpg" alt="VGU" style="margin: 20px">
    <h2>Sensor Value</h2>
    <p></p>
        {% include 'includes/display.html' %}
        <h3>Details Value</h3>
    <p></p>
        {% include 'includes/graph.html' %}
</div>

{% endblock %}